{% extends "base.html" %} 

{% block content %}

    <section class="mb-6">
        <h2 class="text-xl mb-2">Azure</h2>
        <p> This is a healthcare initiative to promote more awarness on mental health and who may be more prone to illnesses such as depression.</p>
        <p> This is only for the purposes of providing education to the general masses and not as a self diagnosis tool</p>
        <p> If you or a loved one are experincing any associated symptoms of harming oneself or others please call the Suicide Prevention Hotline</p>
        <p> Call: 988</p>
        <p> Texting this number is also available for those who don't want to speak through the phone.</p>
    </section>

    <section>
        <h2 class="text-xl mb-2">Features</h2>
        <ul class="list-disc pl-5">
            <li>Secure patient data management</li>
            <li>Easy appointment scheduling</li>
            <li>Interactive dashboards for health metrics</li>
        </ul>
    </section>



{% endblock %}

   
   
   
